@font-face {
  font-family: 'NanumGothic';
  src: url(../fonts/NanumGothic.woff2);
}

@font-face {
  font-family: 'NanumSquareR';
  src: url(../fonts/NanumSquareR.woff2);
  font-weight: normal;
}
@font-face {
  font-family: 'NanumSquareEB';
  src: url(../fonts/NanumSquareEB.woff2);
  font-weight: 700;
}
@font-face {
  font-family: 'NanumSquareB';
  src: url(../fonts/NanumSquareB.woff2);
  font-weight: bold;
}

@font-face {
  font-family: 'NanumSquareNeoTTF';
  src: url(../fonts/NanumSquareNeoTTF-dEb.woff2);
  font-weight: 700;
}
@font-face {
  font-family: 'NanumSquareNeoTTF';
  src: url(../fonts/NanumSquareNeoTTF-cBd.woff2);
  font-weight: bold;
}